#arriba {
  background: #ff33cc;
  border: 1px solid #000;
  color: #fff;
  font-size: 20px;
  height: 100px;
}

#enmedio {
  background: #cc33ff;
  border: 1px solid #000;
  color: #fff;
  font-size: 20px;
  height: 100px;
}

#abajo {
  background: #33ffcc;
  border: 1px solid #000;
  color: #fff;
  font-size: 20px;
  height: 100px;
}
